.background
    z-index: -1
    
    #sky
        position: absolute
        top: 0
        left: 0
        height: 80vh
        width: 100%
        background-image: radial-gradient(ellipse at 60% 100%, rgba(255,255,0,0.3) 0%, rgba(255,165,0,0.1) 10%, transparent 30%),url("../img/asfalt-light.png"),linear-gradient(to top, #d6bc8b, #0c5994)
        
        .sky--cloud
            position: absolute
            bottom: 5rem
            right: 10rem
            width: 10rem
            height: 2rem
            background:
                image: url('../img/cloud.png')
                size: contain
                repeat: no-repeat
                position: center

    #mountains
        position: absolute
        top: 80vh
        left: 0
        right: 0

        .mountains--full
            position: absolute
            left: 0
            width: 100%
            top: -35px
            height: 40px
            background:
                color: transparent
                image: url(../img/mountain-full.png)
                size: 100% 100%
                repeat: no-repeat
                position: center
        
        .mountains--sides
            position: absolute
            left: 0
            width: 100%
            top: 0
            height: 40px

            &:before,
            &:after
                content: ""
                position: relative
                display: block
                float: left
                height: 100%
                width: 30%
                background:
                    color: transparent
                    image: url(../img/mountain-left.png)
                    size: 100% 100%
                    repeat: no-repeat
                    position: center
            
            &:after
                float: right
                background-image: url(../img/mountain-right.png)
    
    #logo
        position: absolute
        top: 70%
        left: 37.5%
        width: 25%
        height: 25%
        background:
            image: url('../img/logo3.png')
            size: contain
            repeat: no-repeat
            position: center
        opacity: .8
        transform: rotate(0) scale(1)
        animation: logo 10s infinite
        filter: drop-shadow(0 0 1rem rgba($orange, .5))

    #chenillard
        position: absolute
        font-size: 1.2rem
        padding: .5rem 1rem
        bottom: 0
        left: 0
        width: auto
        min-width: 100%
        white-space:nowrap
        animation: chenillard 12s infinite linear




@keyframes logo
    0%
        opacity: .8
        transform: rotate(0) scale(1)
    2%
        opacity: 1
        transform: rotate(-5deg) scale(1.2)
    4%
        opacity: .8
        transform: rotate(0) scale(1)

@keyframes chenillard
    0%
        transform: translateX(100%)
    100%
        transform: translateX(-100%)