@font-face 
    font-family: "Didact Gothic"
    src: url("../fonts/DidactGothic.ttf") format("truetype")
    
@font-face 
    font-family: "Cubano Regular"
    src: url("../fonts/cubano-regular.ttf") format("truetype")