#left
    .timeline
        position: relative
        display: flex
        flex-wrap: wrap
        padding: 1rem
        height: 75%

        &:after
            content: ""
            position: absolute
            top: 10%
            left: 50%
            margin-left: -.2rem
            width: .4rem
            height: 80%
            border-radius: .2rem
            background-color: $black
        
        .timeline-item
            position: relative
            display: flex
            flex-direction: column
            width: 100%
            padding-left: 60%
            text-align: left

            h3
                display: block
                position: relative
                top: 50%
                transform: translate(0, -50%)
                color: $silver
                z-index: 2
            
            &:before
                content: attr(data-horaire)
                position: absolute
                top: 50%
                right: 55%
                transform: translateY(-50%)
                color: $black
                font:
                    size: .9rem
                    family: $title-font

            &:after
                content: ""
                z-index: 1
                position: absolute
                width: 2rem
                height: 2rem
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                border-radius: 50%
                background-color: $black
            
            &.active
                &:after
                    content: "🔥"
                    font-size: 1.5rem
                    line-height: 2.5rem
                    text-align: center
                    width: 3rem
                    height: 3rem

                h3
                    transform: translateY(-50%) scale(1.3) rotate(-15deg)
                    color: $white
            
            &.done
                &:after
                    content: "\2713"
                    font:
                        weight: bold
                        size: 1.5rem
                    line-height: 2rem
                    text-align: center
                h3
                    opacity: .5
                    text-decoration: line-through
            
            &:nth-child(2n+1)
                padding-left: 0
                padding-right: 60%
                text-align: right
                &:before
                    right: auto
                    left: 55%