*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing: border-box


html
    font-size: 18px
    width: 100%
    height: 100%
    overflow: hidden

body
    font-family: $normal-font
    font-size: 1rem
    width: 100%
    height: 100%
    background-color: $orange
    color: $white

h1, h2, h3
    font-family: $title-font
    text-shadow: 0 0 1rem $black

