#right
    .clock
        font-family: $title-font
        font-size: 5rem
        margin: 1rem 0

        .clock-separator
            position: relative
            bottom: .5rem
            animation: clink 1s infinite

    .gallery
        position: relative
        width: 90%
        height: 0
        margin: auto
        padding-top: (678% / 10.24)

        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            border-radius: .3rem
            box-shadow: 0 0 3rem $white
            opacity: 0
            transition: opacity 3s
            &.active
                opacity: 1
        

@keyframes clink
    0%
        opacity: 1
    50%
        opacity: 0