@import 'vars'
@import 'fonts'
@import 'reset'
@import 'background'
@import 'left'
@import 'right'

.underline
    text-decoration: underline

.content
    position: relative
    z-index: 1
    padding: 1rem
    height: 100%
    width: 100%

    section
        position: relative
        width: 50%
        height: 100%
        float: left
        text-align: center